.spinnerContainer {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.loader {
  width: 10vh;
  height: 10vh;
  position: relative;
}

/* Spinner Animation */
.spinner {
  border: 1vh solid rgba(0, 0, 0, 0.1);
  border-top: 1vh solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
